body{
  background-color: #425F57;
  margin: 0;
  text-align: center;
}
.myDiv{
  background-color: #749F82;
  position: relative;
  padding-top: 100px;
}
h1{
  width: 10%;
  margin: 0 auto;
}
.top-cloud{
  position: absolute;
  left: 880px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left:480px;
}
